<html>
<head><link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Library</title>
</head>
<body>
<div class="center" ><h1> Book Keeper</h1></div>
<div class= 'center'><a href="/">Search for a book</a>  or  <a href="/books/new">Add a new book</a>	</div>
	<% for (i=0; i < books.length; i++) { %>
	<div>
	 <b>Book:</b>  <%= books[i].title %> <br/>
      <img src="<%= books[i].cover %>" > <br/>
      <b>Author:</b>   <%= books[i].authors %><br/>
      <b>Published:</b> <%= books[i].year %> <br/>
      <b>Rating: </b> <%= books[i].rate%> <br/>
      <b>Price: </b> <%= books[i].price %><br/>
      <b>ISBN: </b> <%= books[i].isbn %><br/>
	<a href="/books/<%=books[i].id%>"> Edit/Delete </a> 
	</div>
	<% } %>
</body>
</html>
